<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="#page-top">Start Bootstrap</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto my-2 my-lg-0">
				<li class="nav-item">
					<a class="nav-link {{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}" href="{{ path('index') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}" href="{{ path('about') }}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ (app.request.attributes.get('_route') == 'services')  ? 'active': ''}}" href="{{ path('services') }}">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ (app.request.attributes.get('_route') == 'portfolio')  ? 'active': ''}}" href="{{ path('portfolio') }}">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}" href="{{ path('contact') }}">Contact</a>
				</li>

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link {{ (app.request.attributes.get('_route') == 'app_login')  ? 'active': ''}}" href="{{ path('app_login') }}">Log in</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
